:root{
    --box-shadow: #ffffff 0 0 20px;
}

html,body{
    height: 100%;
}

#file_manager{
    margin: 20px 0 20px 0;
}

#plus{
    margin: 20px 0 20px 0;
    width:80px;
    height:80px;
    border-radius:50%;
    background-color:#fcb941;
    color: #674172;
    border: 5px solid #674172;
    outline: none;
}

#plus:hover{
    box-shadow: var(--box-shadow);
}

.material-icons{
    font-size: 50px;
}

.icon{
    text-align: center;
}

#loader{
    height: 100%;
    background-color: #fcb941;
}

#draw{
    background-color: #7befb2;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

#animation{
    padding: 0;
    background-image: url('13522763_images_1833697798.jpg');
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

#plus > input{
    display: none
}

label{
    margin-bottom: 0px;
    cursor: pointer;
}

.img-fluid{
    max-height: 600px;
}

.button {
    width: 15px;
    height: 15px;
    display: inline-block;
    padding: 1px;
    cursor: pointer;
    border: solid 1px #fff;
}
   
.button:hover {
    border: solid 1px #f00;
}
   
.button:active {
    border: solid 1px #ff0;
}
   
#palette, #canvas {
    display: inline-block;
    cursor: default;
    vertical-align: top;
}

#canvas_animation{
    display: inline-block;
    cursor: default;
    vertical-align: top;
}
   
#clear {
    position: absolute;
    background: #7befb2;
    color: #586960;
    padding: 10px;
    cursor: pointer;
    border:5px solid #674172;
    border-radius: 100px;
    bottom: 50px;
    right: 42%;
}

#clear:hover{
    box-shadow: var(--box-shadow);
}

#btn_animation {
    position: absolute;
    margin: 20px 0 20px 0;
    width:80px;
    height:80px;
    border-radius:50%;
    background-color:rgba(0, 0, 0, 0);
    color: #674172;
    border: 5px solid #674172;
    outline: none;
    margin-left: 45%;
}

.icon{
    font-size: 100px;
}

#btn_animation:hover{
    box-shadow: var(--box-shadow);
}
   
.container {
    white-space: normal;
    width: 710px;
}

#motion{
    width: 600px;
    height: 600px;
}

#target_image{
    width:50px;
}

canvas#source_image{
    width: 10px;
    height: 10px;
} 

#source_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

#start{
    width: 500px;
    left: 10%;
    bottom: 80px;
    position: absolute;

}

.play{
    margin: 10px 0 0 10px;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    border-radius: 10px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #7befb2;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #674172;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}